<div class="parallax-container">
  <div class="parallax">
    <div class="title-cover valign-wrapper">
      <div class="text-container valign center">
        <h3 class="white-text">Projects</h3>
        <p class="white-text">Our vision is to build upon research at UC Berkeley by translating theory into meaningful projects.</p>
      </div>
    </div>
    <img class="cover-img" src="img/star-background.jpg">
  </div>
</div>

<section class="projects">
  <div class="container">
    <a id="purpose" class="anchor"></a>
    <h1 class="title uppercase">Purpose</h1>
    <div class="divider"></div>
    <p>
      With self-learning software at the frontier of technology, we can solve meaningful problems through intelligent projects.
      Check out how we are applying powerful algorithms to build industry-standard systems.
    </p>
    <a id="current" class="anchor"></a>


    <div class="divider"></div>
    <section id="reviews">
      <div class="container">
        <div class="tagline">
          <div class="row center">
            <h1 class="uppercase">Project Review</h1>
            <p>Take a look at our projects last semester.</p>
          </div>
        </div>
      </div>
    </section>
    <h1 class="title uppercase">Fall 2017</h1>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m6 center">
        <div class="video-container">
          <iframe width="853" height="480" src="//www.youtube.com/embed/NKjdSAich0g?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m6 center">
        <div class="video-container">
          <iframe width="853" height="480" src="https://www.youtube.com/embed/RVXLob_A9RM" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div id="sherlock" class="card project">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/projects/deepbeat.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><strong>DeepBeat</strong> - Composing Music and Generating Human-Sounding Audio<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title">DeepBeat<i class="material-icons right">close</i></span>
            <div class="card-content">
              <h3>Music & Voice Generation</h3>
              <div class="divider"></div>
              <ul>
                <li>Learn how to implement an algorithm to train your own neural net</li>
                <li>Use Magenta and Google WaveNet to improve consistent music composition</li>
              </ul>
              <h3>Description</h3>
              <p><strong>DeepBeat</strong> is an intro-level project lead by Arsh Zahed. He will teach students how to get started with machine learning and get the team to a stage where they can begin tweaking and improving the music generation project on their own.</p>
              <div class="content-links">
                <a class="waves-effect waves-teal btn-flat" href="https://github.com/callaunchpad/DeepBeat" target="_blank">Source Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div id="sherlock" class="card project">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/projects/visualqa.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><strong>AVC</strong> - Audio Visual Context Classification<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title">AVC<i class="material-icons right">close</i></span>
            <div class="card-content">
              <h3>Audio Visual Context Classification</h3>
              <div class="divider"></div>
              <ul>
                <li>Improve human-computer interaction by allowing machines to understand visual and audio cues just as humans do</li>
                <li>Experiment with visual Q & A, audio classification, and action recognition in video and audio clips</li>
              </ul>
              <h3>Description</h3>
              <p><strong>AVC</strong> is high-level project lead by Nipun Ramakrishnan. It is part of an effort to provide a machine with full audio visual understanding of a video or audio clip. Classifiers, CNNs, and LSTMs work together to provide enhanced descriptions of input media.</p>
              <div class="content-links">
                <a class="waves-effect waves-teal btn-flat" href="https://github.com/callaunchpad/DeepBeat" target="_blank">Source Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <div id="sherlock" class="card project">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/projects/industry.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><strong>Industry Project</strong> - Details TBA<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title">Industry Project<i class="material-icons right">close</i></span>
            <div class="card-content">
              <h3>Name Undisclosed</h3>
              <div class="divider"></div>
              <ul>
                <li>Currently under NDA</li>
              </ul>
              <h3>Description</h3>
              <p>This <strong>industry project</strong> will be lead by Hank O'Brien. More details are coming, but they need to be approved before they can be published here. The name of the company and the contracted project will be announced to recruited members.</p>
              <div class="content-links">
                <a class="waves-effect waves-teal btn-flat" href="https://github.com/callaunchpad/DeepBeat" target="_blank">Source Code</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  

  <div class="container">
    <h1 class="title uppercase">Spring 2017</h1>
    <div class="divider"></div>
    <div class="row">
      <div class="col s12 m6 center">
        <div class="video-container">
          <iframe width="853" height="480" src="//www.youtube.com/embed/9LalYUO_Wjo?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col s12 m6 center">
        <div class="video-container">
          <iframe width="853" height="480" src="//www.youtube.com/embed/46UqnAYkwQI?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div id="sherlock" class="card project">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/projects/sherlock.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><strong>Sherlock</strong> - Improving Human-Computer Interaction<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title">Sherlock<i class="material-icons right">close</i></span>
            <div class="card-content">
              <h3>Computer Vision</h3>
              <div class="divider"></div>
              <ul>
                <li>Open-source toolkit for creating computer vision projects on the web.</li>
                <li>Provides image processing and object recognition algorithms to web development.</li>
              </ul>
              <h3>Description</h3>
              <p><strong>Sherlock</strong> is a web API that connects computer vision algorithms in OpenCV to web languages and frameworks. We implement, optimize, and apply custom methods to provide image processing and analysis for the internet.</p>
              <div class="content-links">
                <a class="waves-effect waves-teal btn-flat" href="https://github.com/callaunchpad/RecognitionCV" target="_blank">Source Code</a>
                <!-- <a class="waves-effect waves-teal btn-flat">Project</a>
                <a class="waves-effect waves-teal btn-flat">Documentation</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12">
        <a id="whisper" class="anchor"></a>
        <div class="card project">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="img/projects/stella.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><strong>STELLA</strong> - Web Browsing Personal Assistant<i class="material-icons right">more_vert</i></span>
          </div>
          <div class="card-reveal">
            <span class="card-title">Project Stella<i class="material-icons right">close</i></span>
            <div class="card-content">
              <h3>Adaptive Personal Assistant</h3>
              <div class="divider"></div>
              <ul>
                <li>Use Kaldi to train neural nets, S3 for hosting, EC2 for computation, and SQS for queuing</li>
              </ul>
              <h3>Description</h3>
              <p>Speech consists of many features that are not built into personal assistants like Alexa and Google Home. We aim to build a seemless conversational personal assistant that considers prosody in speech. By feeding corpora that contain thousands of hours of annotated audio into CTC networks, our assistant will be able to adjust to speakers' uncertainty and identity.</p>
            </div>
            <div class="content-links">
              <a class="waves-effect waves-teal btn-flat">Source Code</a>
              <!-- <a class="waves-effect waves-teal btn-flat">Project</a>
              <a class="waves-effect waves-teal btn-flat">Documentation</a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  (function($) {
    $('.parallax').parallax();
  })(jQuery);
</script>
