<div id="particles-js" class="cover-wrapper">
	<div class="cover valign-wrapper">
		<div class="text-container valign center">
			<h1 class="white-text">Projects With Intelligent Software</h1>
			<p class="white-text">We are a group of UC Berkeley students that solve problems by building intelligent software. Our mission is to use artificial intelligence and machine learning to develop meaningful technology.</p>
		</div>
	</div>
	<div class="shade-overlay"></div>
</div>

<section id="overview" class="overview">
	<section id="recruiting-timeline">
		<div class="container">
			<div class="tagline">
				<div class="row center">
					<h1 class="uppercase">Spring 2018 Recruitment Timeline</h1>
				</div>
			</div>
			<div class="row-center">
				<img class="responsive-img" style="padding-top:30px; padding-bottom:20px;" src="img/timeline.png">
			</div>
		</div>
	</section>
	<div class="container">
		<div class="horizontal-line">
			<div class="divider"></div>
		</div>
	</div>

	<section id="previews">
		<div class="container">
			<div class="tagline">
				<div class="row center">
					<h1 class="uppercase">Project Overview</h1>
					<p>Take a look at our projects this semester.</p>
				</div>
			</div>
			<div class="row center">
				<div class="col s12 m4 center">
					<div class="z-depth-2" style="padding:10px; margin-bottom:20px;">
						<h2>Imagination Networks</h2>
						<p>Incorporating imagination augmented agents into managerial networks</p>
						<p>The goal of this reinforcement learning project is to empower artificial intelligence models with the ability to both act at different temporal resolutions as well as enabling an actor at each level to make long term strategic policy decisions.</p>
					</div>
				</div>
				<div class="col s12 m4 center">
					<div class="z-depth-2" style="padding:10px; margin-bottom:20px;">
						<h2>3D Facial Reconstruction</h2>
						<p>Generating 3 dimensional models of human faces from low fidelity imaging</p>
						<p>This project will work to improve upon current domain-specific 3d model generation by exploring the use of different statistical and deep learning preprocessing techniques, using and modifying convolutional modules, and altering low level 3 dimensional model representations.</p>
					</div>
				</div>
				<div class="col s12 m4 center">
					<div class="z-depth-2" style="padding:10px; margin-bottom:20px;">
						<h2>Object Tracking Through Time</h2>
						<p>Detecting and persistently tracking objects in a real time video stream</p>
						<p>Unique objects will be assigned unique IDs, which will persist though translations and rotations of the objects in the video data. Another goal will be to continue tracking and remember IDs across multiple video streams or upon exiting and reentering the camera’s field of view.</p>
					</div>
				</div>
			</div>
			<div class="row center">
				<div class="col s12 m4 push-m2 center">
					<div class="z-depth-2" style="padding:10px; margin-bottom:20px;">
						<h2>Multi-Objective Robotics</h2>
						<p>Tackling real-world problems with conflicting objectives by simultaneously and independently optimizing all solutions on the Pareto front</p>
						<p>This project will investigate how to implement and improve the existing MO-CMA-ES algorithm to operate a Baxter robot quickly and adaptively in production for a multi-objective problem such as collision avoidance.</p>
					</div>
				</div>
				<div class="col s12 m4 push-m2 center">
					<div class="z-depth-2" style="padding:10px; margin-bottom:20px;">
						<h2>Jazz Improvisations</h2>
						<p>Creating models to generate jazz melodies in specified styles</p>
						<p>This project will explore several approaches to melody generation, including Markov models, clustering methods, and LSTM neural networks. The general approach will attempt to strike a balance between novelty and coherence by utilizing “note categories” and melodic abstraction techniques.</p>
					</div>
				</div>

			</div>
		</div>
	</section>

	<section class="newsletter">
		<div class="container z-depth-2">
			<h1 class="title uppercase">Newsletter</h1>
			<p>Sign up for our newsletter. We will only send you updates on event dates and application deadlines.</p>

			<div class="form-container">
				<form class="col s12 animate-form" ng-hide="vm.submitted" ng-submit="vm.sendMessage()">
					<input type="hidden" name="_subject" value="Website Message" />
					<input type="text" name="_gotcha" style="display:none" />
					<div class="row">
						<div input-field class="col s6">
							<input name="First Name" id="firstName" type="text" ng-model="vm.notification.firstName" class="validate" maxlength="500">
							<label for="firstName" data-error="Invalid Input">First Name</label>
						</div>
						<div input-field class="col s6">
							<input name="Last Name" id="lastName.1312974038" type="text" ng-model="vm.notification.lastName" class="validate" maxlength="500">
							<label for="lastName" data-error="Invalid Input">Last Name</label>
						</div>
					</div>
					<div class="row">
						<div input-field class="col s12">
							<input name="_replyto" id="email" type="email" ng-model="vm.notification.email" class="validate" maxlength="500">
							<label for="email" data-error="Invalid Email">Email</label>
						</div>
					</div>
					<div class="row">
						<button class="btn waves-effect waves-light submit-btn" type="submit">Send
							<i class="material-icons right">send</i>
						</button>
					</div>
				</form>

				<p class="animate-message" ng-show="vm.submitted">Thank you for signing up for the newsletter!</p>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="tagline">
			<div class="row center">
				<h1 class="uppercase">Research, Development, Interdisciplinary</h1>
				<p>By promoting research in frontier areas of computer science and working with recent research papers, we develop interesting projects that push the boundaries of <strong>how we use machine learning to solve problems.</strong></p>
			</div>
		</div>

		<div class="row">
			<div class="col s12 m4 center">
				<img class="icon" src="img/icons/ai.svg">
				<h2>Artificial Intelligence</h2>
				<p>We strive to build modern applications that can adapt and react to user behavior and human interaction.</p>
			</div>

			<div class="col s12 m4 center">
				<img class="icon" src="img/icons/ml.svg">
				<h2>Machine Learning</h2>
				<p>A3C, SLAM, GANs, you name it, we'll try it. We will be experimenting with various neural networks and training methods.</p>
			</div>

			<div class="col s12 m4 center">
				<img class="icon" src="img/icons/cv.svg">
				<h2>Simulation Environments</h2>
				<p>Because we aren't DARPA or NASA, we don't have million dollar robots (yet). So we will use software to fill that void.</p>
			</div>
		</div>
	</div>
</section>

<a id="traditions" class="anchor"></a>
<div class="parallax-container">
	<div class="parallax">
		<div class="title-cover valign-wrapper">
			<div class="text-container valign center">
				<h3 class="white-text">Traditions</h3>
				<p class="white-text">In our family, we believe in working as a team to build projects, host events, and find opportunities in the industry.</p>
			</div>
		</div>
		<img class="cover-img" src="img/star-background.jpg">
	</div>
</div>

<section id="traditions" class="overview">
	<div class="container">
		<div class="row">
			<div class="tagline">
				<div class="row center">
					<h1 class="uppercase">Workflow</h1>
					<p>Because we value a fully immersive culture, we expect our members to work both inside and outside of organized meetings.</p>
				</div>
			</div>

			<div class="col s12 m6 center">
				<img class="icon" src="img/icons/hack-nights.svg">
				<h2>Project Meet Ups</h2>
				<p>Discuss theoretical implementations and work with teammates to code up your projects.</p>
			</div>

			<div class="col s12 m6 center">
				<img class="icon" src="img/icons/tech-tutorials.svg">
				<h2>Technical Workshops (as needed)</h2>
				<p>When necessary Project Leaders can set aside sessions to teach new concepts or frameworks to members.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="horizontal-line">
			<div class="divider"></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="tagline">
				<div class="row center">
					<h1 class="uppercase">Events</h1>
					<p>Throughout the semester, we host events for our members and the CS community at UC Berkeley.</p>
				</div>
			</div>

			<div class="col s12 m6 center">
				<img class="icon" src="img/icons/recruiting.svg">
				<h2>Recruiting Workshops</h2>
				<p>We offer workshops that help our members find the best jobs in the industry.</p>
			</div>

			<div class="col s12 m6 center">
				<img class="icon" src="img/icons/infosession.svg">
				<h2>The Future of Machines and Software</h2>
				<p>Industry leaders are invited to talk about the latest trends in technology.</p>
			</div>
		</div>
	</div>
</section>

<a id="team" class="anchor"></a>
<div class="parallax-container">
	<div class="parallax">
		<div class="title-cover valign-wrapper">
			<div class="text-container valign center">
				<h3 class="white-text">Team</h3>
				<p class="white-text">We believe in diversity and invite students from many different backgrounds!</p>
			</div>
		</div>
		<img class="cover-img" src="img/star-background.jpg">
	</div>
</div>

<section id="team-display" class="overview">
	<div class="container">
		<members-list name="Officers" list="vm.officers"></members-list>
		<!-- <members-list name="Project Developers" list="vm.developers"></members-list> -->
	</div>
</section>
<section class="companies">
  <div class="container">
	<div class="row">
      <div class="sponsors-container">
			<a href="https://aws.amazon.com/" target="_blank"><img class="sponsor title" data-src="img/sponsors/amazon_aws.png" src="img/sponsors/amazon_aws.png"alt="Amazon AWS"/></a>
			<a href="https://mxnet.incubator.apache.org/" target="_blank"><img class="sponsor title" data-src="img/sponsors/mxnet.png" src="img/sponsors/mxnet.png" alt="MXNet"/></a>
      </div>
    </div>
  </div>
</section>


<script>
	(function($) {
		$('.parallax').parallax();
		particlesJS.load('particles-js', 'config/particles.json');
	})(jQuery);
</script>
