<h1 class="center-align team-heading">{{name}}</h1>
<div class="row">
  <div class="member col s6 m2 l2" ng-repeat="member in list">
    <a ng-href="{{member.website}}" target="_blank">
      <div class="image-wrapper" ng-style="{'background-image':'url({{member.image}})'}">
        <div class="overlay">
          <h1>{{member.semester}}</h1>
          <h2 style="margin-bottom: .4rem;">{{member.position}}</h2>
          <p style="margin: 0;">{{member.header}}</p>
        </div>
      </div>
    </a>
    <h2 class="tagline-header">{{member.name}}</h2>
    <h2 class="tagline-subheader" ng-if="member.subheader">{{member.subheader}}</h2>
  </div>
</div>
