<div class="parallax-container showcase">
  <div class="parallax">
    <div class="title-cover valign-wrapper">
      <div class="text-container valign center">
        <h3 class="white-text">Launchpad Fall 2017 Project Showcase</h3>
        <p class="white-text">Dec 4 . 11am - 1pm . 122 Memorial Stadium . 2227 Piedmont Ave, Berkeley, CA 94720</p>
      </div>
    </div>
    <div class="overlay"></div>
    <img class="cover-img" src="img/showcase/fall2017/fullview.jpg">
  </div>
</div>

<section id="request" class="registration">
  <div class="container">
    <div class="row">
      <h1 class="uppercase">Showcase Registration</h1>
      <div class="divider"></div>
      <p>Companies are invited to set up recruiting tables and check out our project demos. Please fill out this form to reserve your spot at our event.<br> It will be held on December 4th from 11am - 1pm in 122 Memorial Stadium (<a href="https://goo.gl/4sdXri" target="_blank">2227 Piedmont Ave, Berkeley, CA 94720)</a>.</p>
    </div>
    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3149.530830159926!2d-122.2520339!3d37.8712669!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80857c3a85308499%3A0xdafcf8acc9048bcb!2sSutardja+Center+for+Entrepreneurship+and+Technology!5e0!3m2!1sen!2sus!4v1510518908812" wheight="150" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="row">
      <div class="form-container">
        <form class="col s12 animate-form" ng-hide="vm.submitted" ng-submit="vm.sendRequest()">
          <input type="hidden" name="_subject" value="Showcase Request" />
          <input type="text" name="_gotcha" style="display:none" />
          <div class="row">
            <div input-field class="col s6">
              <input name="Organization" id="organization" type="text" ng-model="vm.company.organization" class="validate" maxlength="500">
              <label for="organization" data-error="Invalid Input">Organization</label>
            </div>
            <div input-field class="col s6">
              <input name="_replyto" id="email" type="email" ng-model="vm.company.email" class="validate" maxlength="500">
              <label for="email" data-error="Invalid Email">Email</label>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s6">
              <input name="First Name" id="firstName" type="text" ng-model="vm.company.firstName" class="validate" maxlength="500">
              <label for="firstName" data-error="Invalid Input">First Name</label>
            </div>
            <div input-field class="col s6">
              <input name="Last Name" id="lastName" type="text" ng-model="vm.company.lastName" class="validate" maxlength="500">
              <label for="lastName" data-error="Invalid Input">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s12">
              <textarea name="Message" id="message" ng-model="vm.company.message" class="materialize-textarea" placeholder="Type message here..."></textarea>
              <label for="message" maxlength="10000">Message (Optional)</label>
            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light submit-btn" type="submit" name="action">Send
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>

        <p class="animate-message" ng-show="vm.submitted">Thank you for reaching out to us! We are excited to work with you and will respond as soon as possible.</p>
      </div>
    </div>

  </div>
</section>

<section id="request" class="showcase">
  <div class="container">
    <div class="row">
      <h1>Fall 2017 Project Descriptions</h1>
      <div class="divider"></div>
    </div>
    <div class="row">
      <div class="col s12 m4 l4">
        <img class="showcase-img" src="img/showcase/fall2017/classification.png">
      </div>
      <div class="col s12 m8 l8">
        <h3>MuseCage</h3>
        <p class="showcase-text">Project Leader: Nipun Ramakrishnan</p>
        <p class="showcase-text">Our team has implemented a visual question answering and <a href="http://cs229.stanford.edu/proj2011/HaggbladeHongKao-MusicGenreClassification.pdf" target="_blank">music information retrieval</a> system using a combination of convolutional neural networks, recurrent neural networks, and signal processing techniques.</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m8 l8">
        <h3>DeepBeat</h3>
        <p class="showcase-text">Project Leader: Arsh Zahed</p>
        <p class="showcase-text">We've implemented neural nets that write original music. This team has extended off of work done by Google Brain, incorporating a new neural net architecture known as <a href="http://theorangeduck.com/page/phase-functioned-neural-networks-character-control" target="_blank">Phase Functioned Neural Networks</a> to emphasize structure and expression.</p>
      </div>
      <div class="col s12 m4 l4">
        <img class="showcase-img" src="img/showcase/fall2017/deepbeat.png">
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 l2">
        <img class="showcase-img" src="img/showcase/fall2017/uav.png">
      </div>
      <div class="col s12 m10 l10">
        <h3>UAV Robotics</h3>
        <p class="showcase-text">Project Leader: Hank O'Brien</p>
        <p class="showcase-text">The robotics team has converted <a href="https://arxiv.org/abs/1709.10489" target="_blank">an algorithm for ground based navigation and collision avoidance</a> to work with quadcopters, training them in simulation to fly indoors while avoiding objects based on camera input and reinforcement learning.</p>
      </div>
    </div>
    <img class="cover-img" src="img/showcase/fall2017/banner.png">
  </div>
</section>

<script>
  (function($) {
    $('.parallax').parallax();
  })(jQuery);
</script>
