<div class="parallax-container">
  <div class="parallax">
    <div class="title-cover valign-wrapper">
      <div class="text-container valign center">
        <h3 class="white-text">Partner with Us</h3>
        <p class="white-text">We work with companies to host infosessions, tech talks, and recruiting events. Come and host an event with us!</p>
      </div>
    </div>
    <img class="cover-img" src="img/star-background.jpg">
  </div>
</div>

<section id="request" class="companies">
  <div class="container">
    <div class="row">
      <h1 class="uppercase">Sponsorship Request</h1>
      <div class="divider"></div>
      <p>Interested in contributing to or working with our organization? Let us know how we can help!</p>
    </div>

    <div class="row">
      <div class="form-container">
        <form class="col s12 animate-form" ng-hide="vm.submitted" ng-submit="vm.sendRequest()">
          <input type="hidden" name="_subject" value="Sponsorship Request" />
          <input type="text" name="_gotcha" style="display:none" />
          <div class="row">
            <div input-field class="col s6">
              <input name="Organization" id="organization" type="text" ng-model="vm.company.organization" class="validate" maxlength="500">
              <label for="organization" data-error="Invalid Input">Organization</label>
            </div>
            <div input-field class="col s6">
              <input name="_replyto" id="email" type="email" ng-model="vm.company.email" class="validate" maxlength="500">
              <label for="email" data-error="Invalid Email">Email</label>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s6">
              <input name="First Name" id="firstName" type="text" ng-model="vm.company.firstName" class="validate" maxlength="500">
              <label for="firstName" data-error="Invalid Input">First Name</label>
            </div>
            <div input-field class="col s6">
              <input name="Last Name" id="lastName" type="text" ng-model="vm.company.lastName" class="validate" maxlength="500">
              <label for="lastName" data-error="Invalid Input">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s12">
              <input name="Subject" id="subject" type="text" ng-model="vm.company.subject" class="validate" maxlength="500">
              <label for="subject" data-error="Invalid Input">Subject</label>
            </div>
          </div>
          <div class="row">
            <div input-field class="col s12">
              <textarea name="Message" id="message" ng-model="vm.company.message" class="materialize-textarea" placeholder="Type message here..."></textarea>
              <label for="message" maxlength="10000">Message</label>
            </div>
          </div>
          <div class="row">
            <button class="btn waves-effect waves-light submit-btn" type="submit" name="action">Send
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>

        <p class="animate-message" ng-show="vm.submitted">Thank you for reaching out to us! We are excited to work with you and will respond as soon as possible.</p>
      </div>
    </div>

    <a id="sponsors" class="anchor"></a>
    <div class="row">
      <h1 class="uppercase">Sponsors and Partners</h1>
      <div class="divider"></div>
      <div class="sponsors-container">
        <a href="https://aws.amazon.com/" target="_blank"><img class="sponsor title" data-src="img/sponsors/amazon_aws.png" src="img/sponsors/amazon_aws.png"alt="Amazon AWS"/></a>
  			<a href="https://mxnet.incubator.apache.org/" target="_blank"><img class="sponsor title" data-src="img/sponsors/mxnet.png" src="img/sponsors/mxnet.png" alt="MXNet"/></a>
      </div>
    </div>

  </div>
</section>

<script>
  (function($) {
    $('.parallax').parallax();
  })(jQuery);
</script>
