<footer class="page-footer">
	<div class="valign-wrapper footer-content">
		<div class="valign footer-container">
			<div class="container">
				<div class="row">
					<div class="col offset-m1 m2 s12">
						<h5 class="white-text">About</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" ui-sref="about({'#': 'overview'})">Overview</a></li>
							<li><a class="grey-text text-lighten-1" ui-sref="about({'#': 'traditions'})">Traditions</a></li>
							<li><a class="grey-text text-lighten-1" ui-sref="about({'#': 'team'})">Team</a></li>
							<li><a class="grey-text text-lighten-1" ui-sref="alumni">Alumni</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Projects</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" ui-sref="projects({'#': 'purpose'})">Purpose</a></li>
							<li><a class="grey-text text-lighten-1" ui-sref="projects({'#': 'current'})">Current</a></li>
							<li><a class="grey-text text-lighten-1" ui-sref="Showcase">Showcase</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Companies</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" ui-sref="companies({'#': 'request'})">Request</a></li>
							<li><a class="grey-text text-lighten-1" ui-sref="companies({'#': 'sponsors'})">Sponsors</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Contact</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" ui-sref="contact">Email</a></li>
							<li><a class="grey-text text-lighten-1" href="http://facebook.com/callaunchpad" target="_blank">Facebook</a></li>
							<li><a class="grey-text text-lighten-1" href="https://twitter.com/callaunchpad" target="_blank">Twitter</a></li>
						</ul>
					</div>
					<div class="col m2 s12">
						<h5 class="white-text">Apply</h5>
						<ul>
							<li><a class="grey-text text-lighten-1" ui-sref="apply({'#': 'values'})">Values</a></li>
							<li><a class="grey-text text-lighten-1" ui-sref="apply({'#': 'process'})">Process</a></li>
							<li><a class="grey-text text-lighten-1" ui-sref="apply({'#': 'application'})">Application</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container signature">
		<div class="row">
			<div class="col offset-m1 s8">
				<p>&copy; Launchpad 2017</p>
			</div>
		</div>
	</div>
</footer>
