<<!DOCTYPE html>
<html>
	<head>
		<title>Commmon Ground</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css')}}">
		<link rel="stylesheet2" href="styles.css">
	</head>
	<body>
		<nav class="navbar sticky-top navbar-light" style="background-color:#262922">
			<a class="navbar-brand" href="/index">
    			<!-- <img src="{{ url_for('static', filename='real_new_logo.png')}}" width="70" height="60" alt=""> -->
  			</a>
  			<div class="justify-content-start ">
				<!--<div class="row">
					<a style="color:white; font-size:20px" class="nav-link" href='/about'>About Us</a>
					<a style="color:white; font-size:20px" class="nav-link" href='/contact'>Contact Us</a>
				</div>-->
			</div>
		</nav>
		<div class="container" style="width:50%;padding-top:50px; padding-bottom:50px">
			<h1>COMMON GROUND</h1>
		</div>
		<div class="container" style="width:50%;padding-top:0px; padding-bottom:50px">
			<h2 style="padding-bottom:10px"> Real, Unbiased News:</h2>
			<p style="font-size:20px">Fake news has become an increasingly prevlenet and problematic aspectof the modern media landscape. By appealing to our inate trust in news agencies, it both weakens the pillars of our democracty and imapcts our abilities to respecfully discuss with each other.</p>
			<p style="font-size:20px">Common Ground addresses both traditional fake news (those masquerading as legitimate news agencies) and also the increasely politicized mainstream media through the same technique: unsupervised cross source news generation</p>
			
			<p style="font-size:20px"> Our general approach is to scrape the web for related new article. We then perform k-means clustering and obtain clusters of related news articles. Using this information, we mark up each source, findng claims the different sources have in common, which we weave together into a new article on each topic.</p>

		</div>

		<div class="container" style="width:50%;padding-top:50px; padding-bottom:50px">
			<div id="list">
				<p>
					<iframe src="{{url_for('static', filename='0.8819495952.txt')}}" frameborder="0" height="400" width="95%"></iframe>
				</p>
			</div>
		</div>


		<div class="container" style="width:50%;padding-top:50px; padding-bottom:50px">
			<p style="font-size:20px">Our Sources:</p> 
			<img src="{{url_for('static', filename='wp-logo.jpg')}}" width='60px' height='60px' alternate="The Washington Post"/>
			<img src="{{url_for('static', filename='reuters-logo.png')}}" width='60px' height='60px' alternate="Reuters"/>
			<img src="{{url_for('static', filename='fox-logo.png')}}" width='60px' height='60px' alternate="Fox News"/>
			<img src="{{url_for('static', filename='nyt-logo.png')}}" width='60px' height='60px' alternate="The New York Times"/>
			<img src="{{url_for('static', filename='lat-logo.jpg')}}" width='80px' height='60px' alternate="The LA Times"/>
		</div>
			
			
		</div>
	</body>
</html>
	
