<!DOCTYPE html>
<html>
	<head>
		<title>Common Ground</title>
		<meta charset="utf-8">
		<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  		<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css')}}">
  		<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
	</head>
	<body>
		<header>
			<div class="row" style="padding-top:15px;">
      			<div class="one-third column">
       				<h5><a href="index">HOME</a></h5>
      			</div>
      			<div class="one-third column">
       				<h5><a href="about">ABOUT US</a></h5>
      			</div>
      			<div class="one-third column">
       				<h5><a href="contact">CONTACT US</a></h5>
      			</div>
    		</div>
		</header>
		<div class="container">
    		<div class="row">
      			<div class="one-half column" style="margin-top: 15%">
       				<h1>Home</h1>
        			<ul>
					  <li><a href="blog/8-experiments-in-motivation" class="blk">8 Experiments in Motivation</a></li>
					  <li><a href="blog/a-mindful-shift-of-focus" class="blk">A Mindful Shift of Focus</a></li>
					  <li><a href="blog/how-to-develop-an-awesome-sense-of-direction" class="blk">How to Develop an Awesome Sense of Direction</a></li>
					  <li><a href="blog/training-to-be-a-good-writer" class="blk">Training to be a Good Writer</a></li>
					  <li><a href="blog/what-productivity-systems-wont-solve" class="blk">What Productivity Systems Won't Solve</a></li>
					</ul>
      			</div>
    		</div>
  		</div>
		<footer>
			<div class="row" style="padding-top:15px;">
      			<div class="one-third column">
       				<h5><a href="index">HOME</a></h5>
      			</div>
      			<div class="one-third column">
       				<h5><a href="about">ABOUT US</a></h5>
      			</div>
      			<div class="one-third column">
       				<h5><a href="contact">CONTACT US</a></h5>
      			</div>
    		</div>
		</footer>
	</body>
</html>
